<li>
	<a class="user" href="#">
		<img class="avatar" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y&d=retro" />
		<div class="username">
			jennings
		</div>
		:
	</a>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia blandit mi a iaculis. Sed non nisl ac purus tincidunt adipiscing in sit amet libero. Fusce dapibus enim eu lorem consectetur lobortis fringilla eros tristique. Curabitur ac elit nisi. Sed ac cursus risus. Sed eu turpis ac sapien volutpat fermentum. Vivamus hendrerit justo lacus. Vestibulum eleifend euismod dictum. Vestibulum condimentum massa a mauris dapibus imperdiet. Vestibulum id aliquet ante. Praesent a enim odio.
</li>