<div id="wash"></div>
<div id="prompt_wrapper">
	<div id="prompt">
		<form id="register" action="/register" method="post">
			<div class="title">
				<h3>Create an Account</h3>
			</div>
			<div class="body">
				<table class="form_table login">
					<tr>
						<td class="label">
							Username:
						</td>
						<td>
							<input type="text" name="username" />
						</td>
					</tr>
					<tr>
						<td class="label">
							Password:
						</td>
						<td>
							<input type="text" name="password" />
						</td>
					</tr>
					<tr>
						<td class="label">
							Email:
						</td>
						<td>
							<input type="text" name="email" />
						</td>
					</tr>
					<tr>
						<td class="label">
							Phone Number:
						</td>
						<td>
							<input type="text" name="phone" />
						</td>
					</tr>
				</table>
			</div>
			<div class="buttons">
				<div class="contain">
					<input type="submit" value="Create Account" />
					<a href="#" class="close_prompt">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>